@model MVCEFOpdracht.Models.Component

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Ben je zeker dat je dit wil verwijderen?</h3>
<div>
    <h4>Component - Verwijder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatasheetLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatasheetLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aankoopprijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aankoopprijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aantal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aantal)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijder" class="btn btn-alert" /> |
            @Html.ActionLink("Terug naar het overzicht", "Index")
        </div>
    }
</div>